@import 'src/sass/common';
@import 'src/sass/mixins';

.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;

    &__title {
      @include h4;
    }

    &__button {
      margin-left: $indent10;
    }
  }
}
