@import '../common';

// HEADLINE

@mixin h1 {
  font-family: $headlineFont;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.5px;
}

@mixin h2 {
  font-family: $headlineFont;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 0.5px;
}
@mixin h2-mobile {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@mixin h3 {
  font-family: $headlineFont;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.5px;
}

@mixin h4 {
  font-family: $headlineFont;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

@mixin h5 {
  font-family: $headlineFont;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

// TITLE

@mixin navigation {
  font-size: 15px;
  font-family: $mainFont;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

// BODY TEXT

@mixin input {
  font-size: 14px;
  font-family: $mainFont;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

@mixin body1 {
  font-family: $mainFont;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
@mixin body1-mobile {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@mixin body2 {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
@mixin body2-bold {
  @include body2;
  font-weight: 700;
}

@mixin body3 {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@mixin body3-medium {
  @include body3;
  font-weight: 500;
}

@mixin body4 {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@mixin body4-medium {
  @include body4;
  font-weight: 500;
}

@mixin body5 {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin body6 {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

// BUTTON

@mixin secondary {
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin main {
  font-family: $mainFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

//LABEL

@mixin label-regular {
  font-family: $mainFont;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@mixin label-medium {
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin label-uppercase {
  font-family: $mainFont;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
