// Sizes
$large: 1440px;
$medium: 1260px;
$small: 740px;

$container: 1240px;

$headerNotificationHeight: 44px;
$headerHeight: 76px;

$indent4: 4px;
$indent6: 6px;
$indent8: 8px;
$indent10: 10px;
$indent11: 11px;
$indent12: 12px;
$indent14: 14px;
$indent16: 16px;
$indent18: 18px;
$indent20: 20px;
$indent22: 22px;
$indent24: 24px;
$indent28: 28px;
$indent30: 30px;
$indent32: 32px;
$indent36: 36px;
$indent38: 38px;
$indent40: 40px;
$indent42: 42px;
$indent44: 44px;
$indent48: 48px;
$indent50: 50px;
$indent52: 52px;
$indent60: 60px;
$indent64: 64px;
$indent74: 74px;
$indent80: 80px;
$indent90: 90px;
$indent100: 100px;
$indent110: 110px;
$indent128: 128px;
$indent135: 135px;
$indent144: 144px;
$indent200: 200px;

// Durations
$transitionDuration: 0.4s;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-500: #c2c2c2;

$box-shadow: 0 0 8px 0 $color-gray-500;

// Fonts
$mainFont: 'Activ Grotesk Corp', sans-serif;
$headlineFont: 'Bebas Neue Pro', sans-serif;
